:root{
    --box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
    --background: linear-gradient(45deg,#0a0a0a,#3a4452);
    --button: rgba(3, 0, 10, 0.384);
    --font-color: aliceblue;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
}

.calculator{
    border: 1px solid;
    padding: 20px;
    background: transparent;
    box-shadow: var(--box-shadow);
}

input{
    width: 260px;
    background: var(--button);
    border: none;
    padding: 24px;
    margin: 10px;
    box-shadow:var(--box-shadow) ;
    font-size: 40px;
    text-align: right;
    border-radius: 10px;
    color: var(--font-color);
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    background: var(--button);
    box-shadow: var(--box-shadow);
    color: var(--font-color);
    border-radius: 10px;
    font-size: 20px;
}